@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="text-center">
        <h3>Iniciar sesió</h3>
    </div>

</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div id="formContent">
                    <form class="form">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="username" placeholder="Usuari">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" placeholder="Contrasenya">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Entrar">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>